.scrollable-checkboxes { /* Wykorzystane w filtrowaniu kategorii w Transakcje */
    max-height: 95px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
}

.overflow-ellipsis { /* Jeśli nazwa planu oszczędnościowego jest zbyt długa */
    overflow: hidden;
    text-overflow: ellipsis;
}
